.header{
    background: var(--e-global-color-65d2b2c8);
}
.topo{
    background: var(--e-global-color-2e25d6e3);
    color: var(--e-global-color-text);
    margin: 0 auto;
    padding:  9px 0;
}

.header-topo-contact,.header-topo-search{  
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 14px;  
    padding: 0;
}
.header-topo-search{
    
   
    border: 1px solid var(--e-global-color-text);
    border-radius: 5px;
}
.topo p,  .topo input{
    color: var(--e-global-color-text);
    font-size: 1rem;
    font-weight: var(--e-global-typography-text-font-weight);
    border: none;
    gap: 10px;
    
}
.topo i{
    color: var(--e-global-color-text);
    font-size: 1rem;
    padding-right:  5px;
}
.topo input{
    background: transparent;
    
    padding: 5px 10px;
    border-radius: 5px;
}
.header-logo{
    padding: 18px 0;
}
.header-logo img{
    width: 180px;
    height: auto;
    
}
.header-menu-nav ul{ 
    gap: 40px;
}

.header-menu-nav ul li{
    list-style: none;
}

.header-menu-nav ul li a{
    color: var(--e-global-color-text);
    text-decoration: none;
    font-size: 1rem;
    font-weight: var(--e-global-typography-text-font-weight);
}

.header-assossiar-button{
    background: var(--e-global-color-1e380458);
    color: var(--e-global-color-65d2b2c8);
    border: 1px solid var(--e-global-color-text);
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: var(--e-global-typography-text-font-weight);
    cursor: pointer;
    border-radius: 3px;
}

.menu-categorias{
    background: var(--e-global-color-secondary);
    
    
}
.menu-categorias ul{
    
    gap: 10px;
   
}
.menu-categorias ul li{
    list-style: none;
    padding: 15px 0;
}
.menu-categorias ul li a{
    color: var(--e-global-color-text);
    text-decoration: none;
    font-size: .9rem;
    font-weight: var(--e-global-typography-primary-font-weight);
}