    :root {
        --e-global-color-primary: #6EC1E4;
        --e-global-color-secondary: #dfe2e7;
        --e-global-color-text: #2c2b2b;
        --e-global-color-accent: #61CE70;
        --e-global-color-1e380458: #28377e;
        --e-global-color-168ad849: #23A455;
        --e-global-color-65d2b2c8: #FFF;
        --e-global-color-76e28554: #000;
        --e-global-color-765a86d6: #F29400;
        --e-global-color-3f507803: #14245A;
        --e-global-color-33c9269e: #F7941E;
        --e-global-color-2e25d6e3: #FFCC01;
        --e-global-color-a49f53f: #F9C42D;
        --e-global-color-8dfcf8f: #393a3c1b;
        --e-global-typography-primary-font-family: "Roboto";
        --e-global-typography-primary-font-weight: 900;
        --e-global-typography-secondary-font-family: "Roboto";
        --e-global-typography-secondary-font-weight: 400;
        --e-global-typography-text-font-family: "Roboto";
        --e-global-typography-text-font-weight: 400;
        --e-global-typography-accent-font-family: "Roboto";
        --e-global-typography-accent-font-weight: 500;
    }

    html{
        scroll-behavior: smooth;
    }
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: var(--e-global-color-secondary);
        font-family: var(--e-global-typography-text-font-family), Sans-serif;
        font-weight: var(--e-global-typography-text-font-weight);
        color: var(--e-global-color-text);
    }

    .viewport {
        margin: 0 auto;
        max-width: 1150px;
        padding: 0 5px;
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .padding-container {
        padding: 15px;
    }

    .link {
        box-sizing: border-box;
        display: inline-block;
        transition: transform 0.3s ease-in, color 0.3s ease-out;
        padding: 5px 25px;
    }

    .link:hover {
        color: var(--e-global-color-2e25d6e3);
        transform: scale(1.1);
        
    }  

    .header-assossiar-button{
        text-decoration: none;
        background: var(--e-global-color-1e380458);
        color: var(--e-global-color-65d2b2c8);
        border: 1px solid var(--e-global-color-text);
        padding: 10px 25px;
        font-size: 1rem;
        font-weight: var(--e-global-typography-text-font-weight);
        cursor: pointer;
        border-radius: 3px;
        transition:all 0.3s ease-in-out;
    }

    .header-assossiar-button:hover{
        background: var(--e-global-color-65d2b2c8);
        color: var(--e-global-color-text);
    }
    
    .toggle {
        padding: 3px 8px   ;
        font-size: 1.5rem;
        color: var(--e-global-color-text);
        width: 40px;
        height: 40px;
        border-radius: 5px;
        display: none;
    }
    #menu-burger{
        background-color: var(--e-global-color-2e25d6e3);
    }
    
    #cat{
        background-color: var(--e-global-color-76e28554);
        color: var(--e-global-color-65d2b2c8);
    }
     