.footer{
    padding-top:30px;
    background-color: var(--e-global-color-text);  
}

.footer  h3, .footer  i, .footer  p, .footer  a {
    color: var(--e-global-color-65d2b2c8); 
    margin-bottom: 10px
}

.footer p{
    margin-bottom: 5px
}

.footer img{
    width: 190px;
    height: auto;   
}

.footer-logo{
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.footer-logo ul{
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;    
}

.footer-logo a{ 
    text-decoration: none;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--e-global-color-2e25d6e3);   
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease,
        transform 0.3s ease;
    margin-bottom: 0px;
}

.footer-logo a:hover{
    border: 2px solid var(--e-global-color-2e25d6e3);
    background-color: var(--e-global-color-text); 
    transition: all 0.3s ease-in-out;
}

.footer-logo a i{
    font-size: 1rem;
    color:var(--e-global-color-text);
    margin-bottom: 0px;

    
}   

.footer-logo a:hover i{
    color: var(--e-global-color-2e25d6e3);
    transition: all 0.3s ease-in-out;
}

.footer-logo p{
    font-size: .9rem;
    text-align: center;
}

.footer-menu{
    display: flex;
    align-items: center; 
    height: 250px;
    gap: 30px;
    flex-direction: column;
    padding: 20px;
}

.footer-menu ul{  
    flex-direction: column;
}

.footer-menu ul li, .footer-logo ul li{
    list-style: none;
}

.footer-menu ul li a{
     display: inline-block;
    color: var(--e-global-color-65d2b2c8);
    text-decoration: none;
    font-size: .9rem;
    transition: transform .3s ease-in-out,
                color .3s ease-in-out;  
}

.footer-menu a:hover{
    color: var(--e-global-color-2e25d6e3);
    transform: scale(1.03)
}
    
.footer-assossiar-button{
    background: var(--e-global-color-2e25d6e3);
    color: var(--e-global-color-text);   
}

.footer-bottom{
    background-color: var(--e-global-color-1e380458);
    color: var(--e-global-color-65d2b2c8);
    text-align: center;
    margin: 20px ;
    font-size: 1rem;
    font-weight: var(--e-global-typography-text-font-weight);
}

