.menu-categorias {
    position: relative;
}

.link-cascade {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    transition:
        transform 0.3s ease,
        color 0.3s ease;
}

.link-cascade:hover {
    color: var(--e-global-color-76e28554);
    transform: scale(1.08);
}

.link-cascade::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--e-global-color-1e380458);
    transition:
        width 0.3s ease,
        left 0.3s ease;
}

.link-cascade:hover::after {
    width: 100%;
    left: 0;
}

.cascade {
    position: absolute;
    top: 100%;
    left: -10px;
    background:var(--e-global-color-secondary);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0.3s ease;
    z-index: 1000;
}

.cascade.ativo {
    opacity: 1;
    visibility: visible;
    transform: translateY(15px);
}

.cascade ul {
    list-style: none;
    margin: 0;   
    display: flex;
    flex-direction: column   
}

.cascade li {
    margin: 0;
    border-bottom: 1px solid var(--e-global-color-8dfcf8f);
}

.cascade a {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    transition:
        color 0.3s ease,
        transform 0.3s ease-in-out;
}

.cascade li:hover {
    background: var(--e-global-color-1e380458);
}

.cascade a:hover {
    color: var(--e-global-color-65d2b2c8);   
    background: var(--e-global-color-1e380458);
}